* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial,sans-serif;
}

body {
  line-height: 1.6;
  background-color: white;
  color: #052954;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #85cbee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #052954;
}

nav a:hover {
  color: #9b1212;
}

.logo {
  font-weight: bold;
  font-size: 1.3px;
}

/* BUTTONS */
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.primary {
  background: #e5e7eb;
  color: #111;
}
.primary:hover {
  background: #9b1212;
}

.secondary {
  background: #e5e7eb;
  color: #111;
}
.secondary:hover {
  background: #9b1212;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #497ff4, #5f9be5);
  color: #052954;
}

/* SECTIONS */
section {
  padding: 80px 40px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

/* COURSES */
.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.course-card {
  background: #6093f1;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgb(245, 244, 244);
}
.course-card:hover{
    background-color: rgb(26, 150, 177);
}


/* FEATURES */
.features {
  background:white;
  padding: 40px 20px;
  text-align: center;
}

#features h2 {
  margin-bottom: 30px;
  color: #052954;
  text-align: center;

}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature-card {
  background: #6093f1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.2);
  background-color: rgb(26, 150, 177);
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  text-align: center;
}

/* TESTIMONIALS */
.testimonial-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial {
  max-width: 300px;
  padding: 25px;
  border-radius: 10px;
  background-color: #6093f1;
  box-shadow: 0 4px 15px rgba(90, 154, 226, 0.1);
  text-align: center;
}

.testimonial:hover{
    background-color: rgb(26, 150, 177);
}

.testimonial img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* CONTACT */
.contact {
  background: #6093f1;  
  padding: 30px;
  text-align: center;
  border-radius: 15px;         
  max-width: 500px;            
  margin: 40px auto;           
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.contact-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}


input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  background: #85cbee;
  color: #052954;
  text-align: center;
  padding: 30px;
}

footer a {
  color: #052954;
  margin: 0 10px;
  text-decoration: none;
}

